//colors
$blue: #395697;
$ultra-light-blue: #25c2c2;
$deep-blue: #2c4886;
$white: rgb(245, 244, 244);
$dark-yellow: #4a380e;
$yellow: #ffdb4d;

$facebook: #4267b2;
$instagram-red: #eb8500;
$instagram-blue: #458eff;
$twitter: #1da1f2;
$linkedin: #2867b2;
$youtube: #ff0000;
